body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 1280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  position: relative;
}
.dark-theme {
  color: #fff;
  background-color: #000;
}
.light-theme {
  color: #000;
  background-color: #afacac40;
}